body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.session {
    background: white;
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.session h3 {
    margin: 0;
    color: #0056b3;
}

/* Styl dla przycisków zakładek */
nav {
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background: #0056b3;
    color: white;
    border-radius: 5px;
}

.tab-button:hover {
    background: #003d82;
}
.mp-card {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.mp-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.page-button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.page-button.active {
    background: #0056b3;
    color: white;
}
