/* Stylizacja listy posłów */
ul li {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #fff;
}

ul li:hover {
    background-color: #e0e0e0;
}

/* Stylizacja zdjęć w liście */
.posel-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 0; /* Kwadratowe */
}

/* Stylizacja szczegółów posła */
.szczegoly-posla {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border-left: 3px solid #0044cc;
    width: 100%;
}

/* Stylizacja zdjęcia w szczegółach */
.szczegoly-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 0; /* Kwadratowe */
}
